{% extends './admin/base.html' %}
{% block content %}

<h2 class="text-2xl font-bold mb-4">Add User</h2>
<form method="POST" class="space-y-4">
    <input name="username" placeholder="Username" required class="border p-2 w-full" />
    <input name="email" type="email" placeholder="Email" required class="border p-2 w-full" />
    <input name="password" type="password" placeholder="Password" required class="border p-2 w-full" />
    <select class="border p-2 w-full" name="role" id="">
        <option value="admin">Admin</option>
        <option value="user">User</option>
        <option value="writer">Writer</option>
        <option value="super_admin">Super Admin</option>
    </select>
    <button class="bg-[#00adb5] text-white px-4 py-2 rounded" type="submit">Register</button>
</form>

{% endblock %}