{% extends './admin/base.html' %}
{%block content %}
<div class="p-6 ">
    <h1 class="text-3xl font-bold mb-6"> Tools Management</h1>

    <a href="{{url_for('add_tool')}}" class="p-4 bg-[#00adb5] text-white mb-4 rounded hover:bg-[#008c92]"> Add New Tool</a>

    <table class="min-w-full mt-4 bg-white overflow-y-scroll shadow rounded">
        <thead class=" bg-gray-100">
            <tr>
                <th class="py-2 px-4">id</th>
                <th class="py-2 px-4">name</th>
                <th class="py-2 px-4">Description</th>
                <th class="py-2 px-4">url</th>
                <th class="py-2 px-4">Lucide Icon</th>
                <th class="py-2 px-4">Is Premium</th>
                <th class="py-2 px-4">Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for tool in tools %}
            <tr class=" border-t">
                <td class="py-2 px-4">{{tool.id}}</td>
                <td class="py-2 px-4">{{tool.name}}</td>
                <td class="py-2 px-4">{{tool.description}}</td>
                <td class="py-2 px-4">{{tool.url}}</td>
                <td class="py-2 px-4">{{tool.lucide_icon}}</td>
                <td class="py-2 px-4">{{tool.is_premium}}</td>
                <td class="py-2 px-4">
                    <a href="{{url_for('edit_tool', id=tool.id )}}" class="text-blue-500"><i data-lucide="pencil-line" class="w-5 h-5"></i></a>
                    <a href="{{url_for('delete_tool', id=tool.id )}}" class="text-red-500" onclick="return confirm('Are you sure you want to delete this tool?')" ><i data-lucide="trash-2" class="w-5 h-5"></i></a>
                </td>
            </tr>
            {%endfor%}
        </tbody>
    </table>
</div>
{%endblock%}